@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  .stat-value {
    font-size: 1.5rem;
  }
}

.tdc-grid {
  @apply grid md:grid-cols-3 md:gap-4 md:p-4 justify-center grid-cols-2 gap-2 p-2;
}

.stat-box {
  @apply place-items-center border-2 rounded-lg;
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.table :where(thead, tfoot) :where(th, td):first-child {
  @apply rounded-b-none;
}

.table :where(thead, tfoot) :where(th, td):last-child {
  @apply rounded-b-none;
}

.dropdown-content {
  height: 300px;
}
